#items-panel {
  width: 50%;
  height: 100%;
  margin: 2rem 3rem 0 3rem;
}

#top-bar {
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 10px;
  background-color: #fff;
  align-items: center;
  justify-items: center;
  border-radius: 10px 10px 0 0;
  /* padding-top: 5px; */
}

.selector {
  /* padding: 5px; */
  margin: auto 5px auto 5px;
  height: 20px;
}

.menu-select {
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.menu-select img {
  max-height: 80%;
  max-width: 80%;
  object-fit: fill;
  opacity: 0.1;
}

.menu-select img:hover {
  opacity: 1;
}

#settings-btn {
  margin-top: 5px;
}
